<h2>DJ's</h2>

<div class="thumbnail_container">

<ul class="thumbnails">
  <% @users.each do |user| %>
    <li class="span3">
      <div class="thumbnail">
        <%= image_tag user.avatar_image.thumb.url %>
        <h3><%= link_to user.name, user %></h3>
        <p><%= user.location %></p>
      </div>
    </li>
  <% end %>
</ul>

</div>