 <h1>MYBASS</h1>

<div class="home">
  <% random_user = User.not_admin_users.order('random()').first %>
  <%= link_to image_tag(random_user.avatar_image.main.url), random_user, class: "home_img" %>
</div>
